@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.computerSide,.playerSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,.score{
    font-size: 2rem;
    font-weight: 100;
}

.choices{
    margin-top: 10px;
    font-size: 11rem;
    font-weight: 700;
    transition: .2s;
}

.playerSide .choices:hover{
    color: rgb(255, 153, 0);
    cursor: pointer;
}



